body,html{
 height: 100%;
	
}


.videobg {
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 min-height: 100%;
 min-width: 100%;
  -webkit-transform-style: preserve-3d; 
}

.videobg video {
  position: absolute;
  background-color: #151412;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -1;
  object-fit: cover; 
}

#header {
    text-align: center;
    font-weight: bold;
    color: #BCD7E0;
    font-family: Cambria, "Hoefler Text", "Liberation Serif",Times, "Times New Roman", serif;
    text-transform: capitalize;
    position: relative;
    font-size: 50px;
}
.discription {
    color:#FFFFFF;
    text-align: center;
    font-size: x-large;
}

#links {
	text-align: center;
	margin-top: 100px;

}

#formLink {
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 250%;
	font-weight: bold;
	padding:20px;
	border: medium solid #C7BB1D;
	border-radius: 30px;
	margin: 50px;
	
	
}

#formLink:hover {
	background-color: #C7BB1D;
	
}

#formLink:visited{
	background-color: #C7BB1D;
}


#faq {
	text-align: center;
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 100%;
	font-weight: bold;
	position: relative;
    top:40px;
}


#faq:hover{
	color:#C7BB1D;
}

.main_section {
	position: absolute;
	top: 700px;
	left: 0;
	background-color:#DADADA;
	width: 100%;
	height: 1500px;
	
}

.sub_section {
	height: 90%;
	width: 80%;
	border: 1px solid grey;
	margin: 30px auto;
	background-color:#FFFFFc;
	border-radius: 5px;
}

.list_block {
	width: 80%;
	height: 4%;
	margin: 0 auto;
}

#list li {
	display: inline;
	
	
}

#list a{
	text-decoration: none;
	border: medium solid #C7BB1D;
	border-radius: 5px;
	padding: 10px;
	margin: 30px;
	color: black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	
}
#list a:hover{
	background-color: #C7BB1D;
}


