body,html{
 height: 100%;
  width:100%;	
}

#body{
	height: 100%;
	width: 100%;	
}


.videobg {
 position: absolute;
	top: 0;
	left: 0;
    width: 100%;
 z-index: -2;
 min-height: 50%;
}

.videobg video {
  position: absolute;
  background-color: #151412;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -2;
 -webkit-transform-style: preserve-3d; 
  object-fit: cover; 
}

#header {
    text-align: center;
    font-weight: bold;
    color:#FFFFFF;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    text-transform: uppercase;
	text-shadow: 1px 1px 0px #C7BB1D;
    font-size: 4vw;
}
.discription {
    color:#7EBAC8;
    text-align: center;
    font-size: x-large;
}

#links {
	text-align: center;
	margin-top: 100px;

}

#formLink {
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 4vw;
	font-weight: bold;
	padding:2%;
	border: medium solid #C7BB1D;
	border-radius: 20px;
	margin: 3%;
	
	
}

#formLink:hover {
	background-color: #C7BB1D;
	
}

#formLink:visited{
	background-color: #C7BB1D;
}


#faq {
	text-align: center;
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 100%;
	font-weight: bold;
	position: relative;
    top:40px;
}


#faq:hover{
	color:#C7BB1D;
}

.main_section {
	position: absolute;
	top:640px;
	left: 0;
	background-color:#DADADA;
	width: 100%;
	height: 1800px;
	
}

.sub_section {
	height: 90%;
	width: 80%;
	border: 1px solid grey;
	margin: 30px auto;
	background-color:#FFFFFc;
	border-radius: 5px;
}

.list_block {
	width: 100%;
	height: 4%;
	margin: 0 auto;
}

#list li {
	display: inline;
	
	
}

#list a{
	text-decoration: none;
	border: medium solid #C7BB1D;
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	
}
#list a:hover{
	background-color: #C7BB1D;
}



#list {
	text-align: center;
	
}

.rule {
	width:40%;
}

.articles {
	width:30vw;
	height: 230px;
	
	float: left;
	margin: 25px;
	margin-left: 4vw;
	margin-right: 4vw;
	-moz-box-shadow: 0px 0px 10px #777777; 
	-webkit-box-shadow: 0px 0px 10px #777777; 
	box-shadow: 0px 0px 10px #777777;
 
}





h2 {
	text-align: center;
	font-family: Times "Times New Roman", "serif";
	
}

#para1,#para2,#para3,#para4,#para5 {
	text-align: center;
	padding: 10px;
}

#pic1,#pic2,#pic3,#pic4,#pic5 {
	width: inherit;
	height: inherit;
}
