* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

h2,
p {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;
}

.container {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 0 10px 1px rgba(61, 61, 61, 0.19), 0 0 15px 1px rgba(63, 63, 63, 0.23);
}


.container .header {
    padding-bottom: 20px;
	
}

h2 {
    font-size: 20px;
}

.form-control {
    margin-bottom: 10px;
    position: relative;
}

.form-control label {
    font-weight: bold;
    font-size: 13px;
}

.form-control input {
    margin-top: 2px;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #C7BB1D;
    font-family: inherit;
}


.form-control i {
    position: absolute;
    top: 29px;
    right: 10px;
    font-size: 24px;
    visibility: hidden;
}

.TermsAndConditions i{         /*//////////////////////////////////////////////////*/

	 position: relative;
    top: 0px;
    left: 165px;
    font-size: 24px;
	 visibility: hidden;
	
}

.TermsAndConditions.success {
	/*border:2px solid #C7BB1D;  */
} 

.TermsAndConditions.success .fa-smile-o {
   /* color: blue;
    visibility: visible;*/
}

.TermsAndConditions.error  {
    border: 2px solid red;
    animation-name: inputMove;
    animation-duration: .5s;
    /* animation-iteration-count: 3; */
}

.TermsAndConditions.error2 {
	border: 2px solid red;
    animation-name: inputMover;
    animation-duration: .5s;
}

.TermsAndConditions.error .fa-frown-o {
   /* color: red;
    visibility: visible;*/
}

.TermsAndConditions.error2 .fa-frown-o {
    /*color: red;
    visibility: visible;*/
}



 /*.container.error {
    animation-name: inputMove;
    animation-duration: .5s;
}*/ 

.TermsAndConditions .errorMessage {
    visibility: hidden;
    margin: 2px 0 12px 0;
    font-weight: bold;
    font-size: 11px;
    
}

.TermsAndConditions.error .errorMessage {
    visibility: visible;
    color: red;

}

.TermsAndConditions.error2 .errorMessage {
    visibility: visible;
    color: red;

}







.form-control input:focus {
    outline: none;
}

.form-control.success input {
    border: 2px solid #C7BB1D;
}

.form-control.success .fa-smile-o {
    color: #C7BB1D;
    visibility: visible;
}


/* Animation code to move form fields */
@keyframes inputMove {
    0% {
        transform: translateX(5px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* Animation code to move form fields */
@keyframes inputMover {
    0% {
        transform: translateX(5px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* Adding the animation properties to the error CSS selector */
.form-control.error input {
    border: 2px solid red;
    animation-name: inputMove;
    animation-duration: .5s;
    /* animation-iteration-count: 3; */
}

.form-control.error2 input{
	border: 2px solid red;
    animation-name: inputMover;
    animation-duration: .5s;
}

.form-control.error .fa-frown-o {
    color: red;
    visibility: visible;
}

.form-control.error2 .fa-frown-o {
    color: red;
    visibility: visible;
}



 /*.container.error {
    animation-name: inputMove;
    animation-duration: .5s;
}*/ 

.form-control .errorMessage {
    visibility: hidden;
    margin: 2px 0 12px 0;
    font-weight: bold;
    font-size: 11px;
    
}

.form-control.error .errorMessage {
    visibility: visible;
    color: red;

}

.form-control.error2 .errorMessage {
    visibility: visible;
    color: red;

}

button {
    font-family: inherit;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    border: 2px solid #C7BB1D;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

button:focus {
    outline: none;
}

button:hover {
    color: #C7BB1D;
    border: 2px solid #C7BB1D;
    background-color: #403B2B;
}


#heading {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bolder;
	font-size: x-large;

}

#logo {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: flex;
	
}





#nws {
	margin-bottom: 15px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 13px;
}




#TnC {

	margin-bottom: 20px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
}


